/* color palette
Rich Black FOGRA:   #171A21
Oxford Blue:        #0A122A
Xanadu:             #727D71
Dark Red:           #92140C
Red:                #CC2D21
Honey Yellow:       #FFB400

*/



body {
    background-image: url("../images/misc/FooFighters_onStage.jpg");background-repeat:no-repeat;
    background-color: #171A21;
    justify-content: center;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a:link {
    color: #cc2d21;
}

a:visited {
    color: #92140C;
}

a:hover {
    color: #727D71;
}

.navbarContainer {
    
    display: flex;
    opacity: .85;
    background-color: #171A21;
    min-height: 50px;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Dela Gothic One', cursive;
}

.albumInfoContainer {
    opacity: 0.85;
    margin-top: 100px;
    margin-left: 30%;
    margin-bottom: 200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center
}

.overlay {
    position: absolute;
    opacity: .9;
    bottom: 100%;
    background-color: #171A21;
    color: #FFB400;
    overflow: auto;
    width: 60%;
    height:0;
    transition: .7s ease;
}

.albumInfoContainer:hover .overlay {
bottom: 0;
height: 85%;
width: 40%;
justify-content: center;
}

/* .text {
font-size: 50px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
} */

/* .albumInfo:hover {
    filter: blur(5px);
} */

.footerContainer {
    display: flex;
    opacity: .85;
}